@using Kendo.Mvc.UI
@model QTasMarketing.Web.Areas.Admin.Models.Content.ContentViewModel
<link href="~/lib/fineuploader/fineuploader-4.2.2.css" rel="stylesheet" />
<script src="~/lib/fineuploader/jquery.fineuploader-4.2.2.js"></script>



<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                اضافه کردن تصویر جدید
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-5  col-md-offset-3">
                        <div id="images"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4">

                        @Html.HiddenFor(model => model.AddContentPictureModel.PictureId)

                        @(Html.Kendo().Upload()
                                              .Name("files")
                                              .Async(a => a
                                                  .Save("Save", "Media", new { pictureId = @Model.AddContentPictureModel.PictureId })
                                                  .Remove("Remove", "Media")
                                                  .AutoUpload(true)
                                              )
                                              .Events(events => events

                                              .Remove("onRemove")
                                              .Success("onSuccess")
                                                  

                                              )
                                              .Multiple(false)
                                              .Validation(validation =>
                                              {
                                                  validation.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png", ".bmp", ".gif" });
                                                  validation.MinFileSize(500);
                                              }))
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AddContentPictureModel.DisplayOrder, new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.AddContentPictureModel.DisplayOrder, new { @class = "form-control col-md-3" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-9  col-md-offset-3">
                        <button type="button" id="addContentPicture" class="btn btn-primary">
                            ذخیره
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class=" panel panel-default">
            <div class="panel-body">
                ابتدا محتوا را ذخیره کنید سپس تصویر به آن اضافه کنید
            </div>
        </div>

    }
</div>


<script>

    var pictureId='';
    $(function () {

        $('#addContentPicture').click(function () {

            $("#addContentPicture").attr('disabled', true);

            var displayOrder = $("@Html.IdFor(model=>model.AddContentPictureModel.DisplayOrder)");
            var postData = {
                PictureId: pictureId,
                displayOrder: displayOrder,
                ContetnId: @Model.Id
            };

     
            $.ajax({
                type: "POST",
                url:"@Url.Action("AddContentPicture", "Content")",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(postData),  
                success: function (response) {
                    $("#addContentPicture").attr('disabled', false);
                    alert("ok");
                },
                failure: function (response) {
                    alert("error");
                }
            });



        });

});

function onSuccess(e) {
    if (e.operation == "upload") {

    
        pictureId = e.response.pictureId;



        for (var i = 0; i < e.files.length; i++) {
        var file = e.files[i].rawFile;

        if (file) {
            var reader = new FileReader();

            reader.onloadend = function () {
                $("<div ><img class='imageUpload' src=" + this.result + " /></div>").appendTo($("#images"));
            };

            reader.readAsDataURL(file);



        }
    }
}
}

function onRemove(e) {

$("#images").children().remove();
    }

    


</script>
<style>

    .imageUpload {
        width: 100px;
        height: 120px;
    }
</style>